.item {
	padding: 6px 12px;
	font-size: 0.875rem;
	line-height: 1.75rem;
	display: flex;
	align-items: center;
	color: #899cb1;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	&:hover {
		background: rgba(0, 95, 248, 0.13);
		color: #122945;
	}
}
