
.text {
	font-size: 0.875rem;
	color: #122945;
	margin-bottom: 7px;
}

.barContainer {
	background: #dee6f5;
	border-radius: 12px;
	width: 156px;
	height: 6px;
}

.bar{
	height: 100%;
	border-radius: 12px;
}