@import "/src/style/var";

.table-container {
	background: #ffffff;
	box-shadow: 0px 4px 5px #e9edf3;
	border-radius: 8px;
	padding-bottom: 57px;
	position: relative;
}
.filters-container {
	margin-bottom: 20px;
}
.datepicker-container {
	display: flex;
	justify-content: end;
	align-items: center;
	margin-bottom: 20px;
}

.balance {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 145px;
	height: 40px;
	background: #ffffff;
	border-radius: 48px;
	font-size: 0.875rem;
	margin-right: 10px;
	font-weight: 500;
	cursor: pointer;
	.balance-text {
		color: #899cb1;
		margin-right: 2px;
	}
	.balance-number {
		margin-right: 10px;
	}
	&:hover {
		svg path {
			fill: #0000f4;
		}
	}
	&:active {
		svg path {
			fill: $active;
		}
	}
}

.filters {
	display: flex;
	justify-content: flex-end;
	gap: 32px;
}

.reset {
	cursor: pointer;
	display: flex;
	align-items: center;
	font-size: 0.875rem;
	line-height: 1.75rem;
	color: #899cb1;
	&:hover {
		color: #005ff8;
		svg path {
			fill: #005ff8;
		}
	}
	span {
		display: block;
		margin-right: 4px;
	}
}
