.item {
	display: flex;
	align-items: center;
	padding: 14px 12px;
	cursor: pointer;
	&:hover {
		background: rgba(216, 228, 251, 0.32);
	}
}

.active {
	background: rgba(216, 228, 251, 0.32);
}

.icon {
	margin-right: 12px;
}
.text {
	color: rgba(255, 255, 255, 0.6);
}
