.row {
	td {
		padding: 16px 0;
	}
	cursor: pointer;
	&:hover{
		background: rgba(212, 223, 243, 0.17);
	}
}
td.type {
	width: 56px;
	padding-left: 12px;
}
.date {
	width: 86px;
}
.user {
	width: 128px;
}
.user-image {
	width: 32px;
	height: 32px;
	overflow: hidden;
	border-radius: 50%;
	img {
		max-width: 100%;
	}
}
.number {
	width: 326px;
}

.source {
	width: 214px;
}
.rating {
	width: 134px;
}

td.time {
	text-align: end;
	padding-right: 40px;
}
