

td {
	font-size: 0.9375rem;
	line-height: 1.3125rem;
}

table {
	border-collapse: collapse;
	width: 100%;
}

.table-head {
	color: #899cb1;
	font-size: 0.875rem;
	line-height: 0.875rem;
	tr th {
		padding: 24px 40px 20px 0;
		text-align: left;
		border-bottom: 1px solid #eaf0fa;
		&:first-child {
			padding-left: 12px;
		}
	}
}
