@import "/src/style/var";

.button {
	color: white;
	width: 100%;
	display: flex;
	align-items: center;
	width: 200px;
	min-height: 52px;
	background: $primary;
	border-radius: 4px;
	position: relative;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5rem;
	&:hover {
		background-color: $hover;
	}
	&:active {
		background-color: $active;
	}
}

.icon {
	position: absolute;
	top: 14px;
	right: 20px;
}
