.item {
	display: flex;
	align-items: center;
	padding: 14px 12px;
	cursor: pointer;
	&:hover {
		background: rgba(216, 228, 251, 0.32);
	}
}

.active {
	background: rgba(216, 228, 251, 0.32);
	.text {
		color: #ffffff;
	}
}

.icon {
	margin-right: 12px;
	flex: 0 0 24px;
}
.text {
	color: rgba(255, 255, 255, 0.6);
	flex: 1 1 auto;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5rem;
}

.circule {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #ffd500;
	box-shadow: 0px 3px 8px rgba(237, 218, 1, 0.5);
}
