body {
	background-color: $back;
	color: $text;
	font-family: "SFProDisplay";
}

.header {
	grid-area: header;
}

.content {
	grid-area: content;
	
}

.wrapper {
	min-height: 100vh;
	display: grid;
	grid-template: minmax(64px, auto) 1fr / minmax(240px, auto) 1fr;
	grid-template-areas:
		"sidebar header "
		"sidebar content ";
}

.container {
	margin: 0 auto;
	max-width: 1440px;
	padding-top: 20px;
	padding-bottom: 546px;
}