.spinner-container {
	width: 93px;
	height: 20px;
	display: flex;
	align-items: center;
	margin: 0 auto;
}
.spinner {
	flex: 0 0 12px;
	height: 12px;
	border-radius: 50%;
	border: 1.5px solid #002cfb;
	border-left-color: transparent;
	animation: spin 600ms infinite linear;
	margin-right: 10px;
}
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.text {
	font-size: 0.875rem;
	color: #899cb1;
}
