.side {
	grid-area: sidebar;
	background-color: #091336;
	padding: 20px 0px;
}

.logo {
	margin-bottom: 32px;
	padding: 0 12px;
	font-size: 1.5rem;
	font-weight: 600;
	color: #fff;
}

.menu {
	margin-bottom: 64px;
}

.actions {
	padding: 0px 20px;
	button:not(:last-child) {
		margin-bottom: 36px;
	}
}
